apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qdrant-storage
  labels:
    app: qdrant
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: managed-csi
